.task__container {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  height: auto;
  padding: 15px 0;
  border-bottom: 1px solid hsl(237, 14%, 26%);
  overflow: auto;
}

.taskContainerlight {
  border-bottom-color: hsl(233, 11%, 84%);
}

.task__container div {
  display: grid;
  align-items: center;
}

.task__text {
  color: hsl(233, 11%, 84%);
  font-size: 1rem;
}

.task__textLight {
  color: hsl(235, 19%, 35%);
}

.task__text p {
  cursor: pointer
}

.task__textCheck p {
  text-decoration: line-through;
  color: hsl(233, 14%, 35%);
}

.task__textCheckLight p {
  text-decoration: line-through;
  color: hsl(233, 11%, 84%);
}

.circle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  border: 1px solid hsl(233, 14%, 35%);
  border-radius: 50%;
}

.circleLight {
  border-color: hsl(233, 11%, 84%);
}

.circle:hover {
  background-clip: border-box;

}

.task__check .task__checked {
  display: flex;
  justify-content: center;
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}


.task__check {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task__delete {
  color: hsl(237, 14%, 26%);
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  padding-right: 10px;
  cursor: pointer;
}