.listOfTasks__container {
  border-radius: 5px;
  margin-top: 50px;
  background-color: hsl(235, 24%, 19%);
  width: 85vw;
  margin: 30px auto;
  max-width: 680px;
  min-height: auto;
  overflow: hidden;

}

.listOfTasks__containerLight {
  background-color: hsl(0, 0%, 98%);
  filter: drop-shadow(0 0 0.07rem hsl(235, 19%, 35%));
}

.listContainer {
  max-height: 336px;
  overflow-y: auto;
}