* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8rem;
}

.App {
  height: 100%;
  min-width: 100%;
}

html,
body {
  font-size: 10px;
}
