.backgroundApp {
  display: grid;
  grid-template-rows: 1fr 3fr;
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}

.backgroundTop {
  background-image: url('../../assets/bg-mobile-dark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundTopLight {
  background-image: url('../../assets/bg-mobile-light.jpg');
}

.backgroundBottom {
  background-color: hsl(235, 21%, 11%);
}

.backgroundBottomLight {
  background-color: hsl(0, 0%, 98%);
}


@media screen and (min-width: 560px) {
  .backgroundTop {
    background-image: url('../../assets/bg-desktop-dark.jpg');
  }

  .backgroundTopLight {
    background-image: url('../../assets/bg-desktop-light.jpg');
  }
}